
.top-webpage{
    background-color: $main_color;
    background-image: url('../../images/home_fon_top.png');
    background-position: top;
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    min-height: 718px;
}